#new_inventory.modal.inmodal{'aria-hidden': 'true', :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content.animated.fadeIn
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
          %span.sr-only Close
        %h4.modal-title Registrando producto a importaci칩n
        %small Se asociar치 un nuevo producto a la importaci칩n #{@import.code} del cliente #{@import.user.name}
      = bootstrap_form_for(ImportProduct.new, url: inventories_path) do |f|
        .modal-body
          .row
            = f.hidden_field :import_id, value: @import.id
            / .col-md-4
            /   = f.text_field :identification, label: set_icon_helper('Identificaci칩n *', 'i-card'), required: 'required'
            .col-md-8
              = f.select :product_id, Product.all.collect {|p| [ product_name(p).upcase, p.id ] }, { label: set_icon_helper('Producto *', 'tag')}, {required: 'required', include_blank: true , class: 'selectize'}
            .col-md-4
              = f.select :container_id, Container.all.order(id: :asc).collect {|p| [ p.code.upcase, p.id ] }, { label: set_icon_helper('Contenedor ', 'train') }, { required: 'required', include_blank: true, class: 'selectize'}
            .col-md-4
              = f.number_field :total_of_packages, label: set_icon_helper('Cantidad de paquetes *', 'pie-chart'), required: 'required', autocomplete: 'off'
            .col-md-4
              = f.number_field :unit_by_package, label: set_icon_helper('Unidades por paquete *', 'braille'), required: 'required', autocomplete: 'off'
            .col-md-4
              = f.number_field :net_weight, label: set_icon_helper('Peso neto de un paquete (Kg) *', 'balance-scale'), required: 'required', autocomplete: 'off'
            .col-md-12
            .col-md-12.align-right
        .modal-footer
          = f.submit 'Guardar', class: 'btn btn-primary'
