= bootstrap_form_for(@dispatch_product, url: "#{dispatch_products_path}/#{@dispatch_product.id}",  method: :patch) do |f|
  .modal-body
    .row
      = f.hidden_field :dispatch_id, value: @dispatch.id
      .col-md-12
        = f.select :import_product_id, @dispatch.import.import_products.all.collect {|ip| [product_name_for_dispatch_product(ip), ip.id ] }, { label: set_icon_helper('Producto (referencia) [Paquetes x  unidades] [paquetes disponibles] *', 'tag')}, {required: 'required', include_blank: true, id: 'dispatch_product'}
      .col-md-4
        = f.number_field :total_of_packages, label: set_icon_helper('Cantidad de paquetes *', 'pie-chart'), required: 'required', autocomplete: 'off'
      .col-md-12
      .col-md-12.align-right
  .modal-footer
    = f.submit 'Actualizar', class: 'btn btn-primary'
