- products = smart_listing.collection
.table-responsive
  %table.table.table-striped.table-hover
    %tbody
      - if products.count > 0
        %tr
          %td{title: 'Nombre del producto'}
            %strong
              Producto
          %td{title: 'Referencia del producto'}
            %strong
              Referencia
          %td{title: 'Contenedor.'}
            %strong
              Contenedor
          %td{title: 'Unidades por paquete'}
            %strong
              Unidades por paquete
          %td{title: 'Cantidad de paquetes despachados.'}
            %strong
              Paquetes
          %td{title: 'Unidades despachadas.'}
            %strong
              Unidades
          %td{title: 'Peso bruto despachado.'}
            %strong
              Peso bruto (Kg)
          %td{title: 'Paquetes disponibles'}
            %strong
              Paquetes disponibles
          %td{title: 'Opciones'}
            %strong
              Opciones
        - products.each do |product|
          %tr
            %td{title: 'Nombre del producto'}
              %a.client-link{href: edit_product_path(product.import_product.product)}
                = product.import_product.product.name
            %td{title: 'Referencia del producto'}
              = product.import_product.product.reference
            %td{title: 'Contenedor.'}
              = product.import_product.container.code
            %td{title: 'Unidades por paquete'}
              = product.import_product.unit_by_package
            %td{title: 'Cantidad de paquetes despachados.'}
              = product.total_of_packages
            %td{title: 'Unidades despachadas.'}
              = product.total_of_packages * product.import_product.unit_by_package
            %td{title: 'Peso bruto despachado (Kg).'}
              = product.total_of_packages * product.import_product.net_weight
            %td{title: 'Paquetes disponibles en stock.'}
              = products_in_stock product.import_product.id
            %td.user-actions{nowrap: 'nowrap'}
              - unless current_user.has_role? :customer
                %a.btn.btn-white.btn-sm{href: edit_dispatch_product_path(product)}
                  %i.fa.fa-eye
                %a.btn.btn-warning.btn-sm{href: edit_dispatch_product_path(product)}
                  %i.fa.fa-pencil
                - if current_user.has_role? :admin
                  - text = "el producto #{product.import_product.product.name} del despacho #{product.dispatch.code} que pertenece al cliente #{product.import_product.import.user.name}"
                  = link_to_delete_helper(dispatch_product_path(product), text)
      - else
        %tr
          %td
            0 productos registrados en el despacho
.paginator
  = smart_listing.paginate
