#new_dispatch_products.modal.inmodal{'aria-hidden': 'true', :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content.animated.fadeIn
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
          %span.sr-only Close
        %h4.modal-title Registrando producto a despacho
        %small Se asociará un nuevo producto al despacho #{@dispatch.code} del cliente #{@dispatch.import.user.name}
      = bootstrap_form_for(DispatchProduct.new, url: dispatch_products_path) do |f|
        .modal-body
          .row
            = f.hidden_field :dispatch_id, value: @dispatch.id
            .col-md-12
              = f.select :import_product_id, all_product_with_stock(@dispatch).collect {|ip| [product_name_for_dispatch_product(ip), ip.id]}, { label: set_icon_helper('Productos disponibles en stock * <opaque>(referencia) [Paquetes x  unidades] [contenedor]</opaque>', 'tag')}, {required: 'required', include_blank: true}
            .col-md-6
              .form-group
                %label.control-label{:for => "dispatch_product_total_of_packages"}
                  %i.fa.fa-pie-chart
                  Cantidad de paquetes disponibles *
                %input#available_packages_for_dispatch.form-control{:autocomplete => "off", :name => 'available_packages', :required => "required", :type => "number", disabled: 'disabled'}/
            .col-md-6
              = f.number_field :total_of_packages, label: set_icon_helper('Cantidad de paquetes a despachar *', 'pie-chart'), required: 'required', autocomplete: 'off'
            .col-md-12
            .col-md-12.align-right
        .modal-footer
          = f.submit 'Guardar', class: 'btn btn-primary'
