- customers = smart_listing.collection.select {|user| user.has_role? :customer}
- employees = smart_listing.collection.select {|user| user.has_role? :employee}
- admins = smart_listing.collection.select {|user| user.has_role? :admin}
%ul.nav.nav-tabs
  %span.pull-right.small.text-muted 
    = @users.count 
    Usuarios registrados
  %li.active
    %a{'data-toggle': 'tab', href: '#tab-1'}
      %i.fa.fa-users
      Todos 
      = "(#{@users.count})"
  %li
    %a{"data-toggle": 'tab', href: '#tab-2'}
      %i.fa.fa-handshake-o
      Clientes
      = "(#{customers.count})"
  %li
    %a{"data-toggle": 'tab', href: '#tab-3'}
      %i.fa.fa-male
      Empleados
      = "(#{employees.count})"
  %li
    %a{"data-toggle": 'tab', href: '#tab-4'}
      %i.fa.fa-user-circle-o
      Administradores
      = "(#{admins.count})"
.tab-content
  #tab-1.tab-pane.active
    .full-he
      .table-responsive
        %table.table.table-striped.table-hover
          %tbody
            = render partial: 'users_list', locals: {users: @users}
  #tab-2.tab-pane
    .full-hght
      .table-responsive
        %table.table.table-striped.table-hover
          %tbody
            = render partial: 'users_list', locals: {users: customers}
  #tab-3.tab-pane
    .full-heiht
      .table-responsive
        %table.table.table-striped.table-hover
          %tbody
            = render partial: 'users_list', locals: {users: employees}
  #tab-4.tab-pane
    .full-heigh
      .table-responsive
        %table.table.table-striped.table-hover
          %tbody
            = render partial: 'users_list', locals: {users: admins}
  .paginator
    = smart_listing.paginate
