- if users.count > 0
  %tr
    %td
      %strong
        Estado
    %td{title: 'Nombre del usuario.'}
      %strong
        Nombre
    %td{title: 'Identificatción del usuario.'}
      %strong
        Identificación/NIT
    %td{title: 'Correo electronico.'}
      %strong
        Correo Electronico
    %td{title: 'Opciones'}
      %strong
        Opciones
  - users.each do |user|
    %tr
      %td.client-status
        - if user.active?
          %span.label.label-sucess-green Activo
        - else
          %span.label.label-warning Inactivo
      %td
        %a.client-link{href: user_path(user)}
          = user.name
      %td
        = user.identification
      %td
        %a.client-link{href: "mailto:#{user.email}"}
          = user.email
      %td.user-actions
        %a.btn.btn-white.btn-sm{href: user_path(user)}
          %i.fa.fa-eye
        %a.btn.btn-warning.btn-sm{href: edit_user_path(user)}
          %i.fa.fa-pencil
        = link_to_delete_helper(user_path(user), user.name)


- else
  %tr
    %td
      0 Usuario encontrado.
