.row
  .col-md-12
    %h3.m-b.flex-title
      - if @user.has_role? :customer
        Datos del cliente
      - else
        Datos del usuario
      .profile-information
        %label
          - if @user.active?
            %span.label.label-sucess-green Activo
          - else
            %span.label.label-warning Inactivo
        %label
          %span.label.label-orange
            %a{href: edit_user_path(@user)}
              %i.fa.fa-pencil
              Editar
  - if @user.has_role? :customer
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-user
          Razón social
        %p
          = @user.name
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-address-card
          Nit del cliente
        %p
          = @user.identification
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-user
          Representante del cliente
        %p
          = @user.contact_name || 'Nombre no registrado'
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-phone
          Telefono
        %p
          = @user.phone || 'Telefono no registrado'
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-envelope
          Correo Electronico
        %p
          = @user.email || 'Email no registrado'
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-home
          Dirección
        %p
          = @user.address || 'Dirección no registrada'
  - else
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-user
          Nombre del usuario
        %p
          = @user.name
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-address-card
          Cedula
        %p
          = @user.identification
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-phone
          Telefono
        %p
          = @user.phone || 'Telefono no registrado'
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-envelope
          Correo Electronico
        %p
          = @user.email || 'Email no registrado'
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-home
          Dirección
        %p
          = @user.address || 'Dirección no registrada'

      
