.row
  .col-sm-12.mt-5
    %h3.m-b.flex-title
      Datos del usuario
      %label
        - if @user.active?
          %span.label.label-sucess-green Activo
        - else
          %span.label.label-warning Inactivo
  .col-md-3
    %h4
      %label.op-7
        %i.fa.fa-user-circle
        Nombre
      %p
        = @user.name
  .col-md-3
    %h4
      %label.op-7
        %i.fa.fa-address-card
        Cedula/NIT
      %p
        = @user.identification
  .col-md-3
    %h4
      %label.op-7
        %i.fa.fa-phone
        Telefono
      %p
        = @user.phone || 'Telefono no registrado'
  .col-md-3
    %h4
      %label.op-7
        %i.fa.fa-envelope
        Correo Electronico
      %p
        = @user.email || 'Email no registrado'
  .col-md-3
    %h4
      %label.op-7
        %i.fa.fa-home
        Dirección
      %p
        = @user.address || 'Dirección no registrada'
  - if @user.has_role? :customer
    .col-sm-12.hr-line-dashed
    .col-md-12.op-7
      %h3.m-t-none.m-b
        Datos del representante
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-user
          Nombre
        %p
          = @user.contact_name || 'Nombre no registrado'
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-envelope
          Correo Electronico
        %p
          = @user.contact_email || 'Email no registrado'
    .col-md-3
      %h4
        %label.op-7
          %i.fa.fa-phone
          Telefono
        %p
          = @user.contact_phone || 'Telefono no registrado'
  .col-md-12.hr-line-dashed
  .col-md-10
  .col-md-2
    %a.btn.btn-primary.btn-sm.btn-block{href: edit_user_path(@user)}
      %i.fa.fa-pencil
      Editar
