- containers = smart_listing.collection
.table-responsive
  %table.table.table-striped.table-hover
    %tbody
      - if containers.count > 0
        %tr
          %td
            %strong
              Cliente
          %td
            %strong
              Contenedor
          %td{title: 'Fecha de ingreso a bodega.'}
            %strong
              Fecha ingreso
          %td{title: 'Fecha limite de devolución.'}
            %strong
              Fecha limite
          %td{title: 'Fecha de inicio de  mora.'}
            %strong
              Inicio de mora
          %td{title: '¿Entregado?'}
            %strong
              ¿Entregado?
          %td{title: 'Opciones'}
            %strong
              Opciones
        - containers.each do |container|
          - if container.id > 0
            %tr
              %td{title: 'Cliente asociado al contenedor.'}
                %a.client-link{href: user_path(container.user)}
                  = container.user.name
              %td{title: 'Codigo del contenedor.'}
                %a.client-link{href: edit_container_path(container)}
                  = container.code.upcase
              %td{title: l(container.date_of_entry_to_warehose_at, format: 'Dia %A')}
                = l(container.date_of_entry_to_warehose_at, format: '%B %d, %Y')
              %td{title: l(container.deadline_to_return_at, format: 'Dia %A')}
                = l(container.deadline_to_return_at, format: '%B %d, %Y')
              %td{title: l(container.start_of_debt_at, format: 'Dia %A')}
                = l(container.start_of_debt_at, format: '%B %d, %Y')
              - if container.delivered?
                %td{title: l(container.date_of_return_at, format: '%B %d, %Y')}
                  Si
              - else
                %td{title: 'El contenedor no se ha entregado aún.'}
                  No
              %td.user-actions{nowrap:"nowrap"}
                - unless current_user.has_role? :customer
                  %a.btn.btn-white.btn-sm{href: edit_container_path(container)}
                    %i.fa.fa-eye
                  %a.btn.btn-warning.btn-sm{href: edit_container_path(container)}
                    %i.fa.fa-pencil
                  - if current_user.has_role? :admin
                    = link_to_delete_helper(container_path(container), container.code)
      - else
        %tr
          %td
            0 contenedores encontrados.
.paginator
  = smart_listing.paginate
