- dispatches = smart_listing.collection
.table-responsive
  %table.table.table-striped.table-hover
    %tbody
      - if dispatches.count > 0
        %tr
          %td{title: 'Codigo del despacho'}
            %strong
              Codigo
          %td{title: 'Fecha del despacho'}
            %strong
              Fecha
          %td{title: 'Ciudad del despacho'}
            %strong
              Ciudad
          %td{title: 'Nombre del contacto'}
            %strong
              Contacto
          %td{title: 'Telefonos de contacto'}
            %strong
              Telefono
          %td{title: 'Dirección del despacho'}
            %strong
              Dirección
          %td{title: 'Descripción del despacho'}
            %strong
              Descripción
          %td{title: 'Opciones'}
            %strong
              Opciones
        - dispatches.each do |dispatch|
          %tr
            %td{title: 'Codigo del despacho'}
              %a.client-link{href: edit_dispatch_path(dispatch)}
                = dispatch.code
            %td{title: 'Fecha del despacho'}
              = l(dispatch.date, format: '%B %d, %Y')
            %td{title: 'Ciudad del despacho'}
              = dispatch.city
            %td{title: 'Nombre del contacto'}
              = dispatch.contact
            %td{title: 'Telefonos de contacto'}
              - if dispatch.phone_number_1.present? && dispatch.phone_number_2.present?
                = "#{dispatch.phone_number_1} / #{dispatch.phone_number_2}"
              - elsif dispatch.phone_number_1.present?
                = dispatch.phone_number_1
              - elsif dispatch.phone_number_2.present?
                = dispatch.phone_number_2
            %td{title: 'Dirección del despacho'}
              = dispatch.address
            %td{title: 'Descripción del despacho'}
              = dispatch.description
            %td.user-actions{nowrap: 'nowrap'}
              %a.btn.btn-white.btn-sm{href: edit_dispatch_path(dispatch)}
                %i.fa.fa-eye
              %a.btn.btn-warning.btn-sm{href: edit_dispatch_path(dispatch)}
                %i.fa.fa-pencil
              - if current_user.has_role? :admin
                - text = "el despacho #{dispatch.code} de la importación #{dispatch.import.code} que pertenece al cliente #{dispatch.import.user.name}"
                = link_to_delete_helper(dispatch_path(dispatch), text)
      - else
        %tr
          %td
            0 despachos encontrados para esta importación.
.paginator
  = smart_listing.paginate
