= bootstrap_form_for(@dispatch, url: "#{dispatches_path}/#{@dispatch.id}",  method: :patch) do |f|
  .modal-body
    .row
      .col-md-6
        = f.text_field :date, label: set_icon_helper('Fecha *', 'calendar'), required: 'required', class: 'container-date', 'data-provide': 'datepicker', autocomplete: 'off'
      .col-md-6
        = f.text_field :city, label: set_icon_helper('Ciudad *', 'map'), placeholder: 'ejemplo: Armenia/Quindio', required: 'required'
      .col-md-6
        = f.text_field :phone_number_1, label: set_icon_helper('Telefono', 'phone')
      .col-md-6
        = f.select :driver_id, Driver.all.collect {|c| [ ("#{c.name} [Cedula: #{c.identification}] "), c.id ] }, { label: set_icon_helper('Conductor ', 'truck'), include_blank: true }
      .col-md-6
        = f.text_area :address, label: set_icon_helper('Dirección ', 'map-marker')
      .col-md-6
        = f.text_area :description, label: set_icon_helper('Observación o notas', 'comment-o')
      .col-md-12
      .col-md-12.align-right
  .modal-footer
    - unless current_user.has_role? :customer
      = f.submit 'Actualizar', class: 'btn btn-primary'
