= bootstrap_form_for(@dispatch, url: "#{dispatches_path}/#{@dispatch.id}",  method: :patch) do |f|
  .modal-body
    .row
      .col-md-6
        = f.text_field :code, label: set_icon_helper('Codigo *', 'i-card'), required: 'required'
      .col-md-6
        = f.text_field :date, label: set_icon_helper('Fecha *', 'calendar'), required: 'required', class: 'container-date', 'data-provide': 'datepicker', autocomplete: 'off'
      .col-md-6
        = f.text_field :city, label: set_icon_helper('Ciudad *', 'map'), required: 'required'
      .col-md-6
        = f.text_field :contact, label: set_icon_helper('Nombre del contacto *', 'user'), required: 'required'
      .col-md-6
        = f.text_field :phone_number_1, label: set_icon_helper('Telefono 1 *', 'phone'), required: 'required'
      .col-md-6
        = f.text_field :phone_number_2, label: set_icon_helper('Telefono 2 *', 'phone'), required: 'required'
      .col-md-6
        = f.text_area :address, label: set_icon_helper('Dirección *', 'map-marker'), required: 'required'
      .col-md-6
        = f.text_area :description, label: set_icon_helper('Descripción o nota *', 'comment-o'), required: 'required'
      .col-md-12
      .col-md-12.align-right
  .modal-footer
    = f.submit 'Actualizar', class: 'btn btn-primary'
