#printing
  .ibox-content.p-xl
    .row.text-center.title
      %strong.title-text
        PLANILLA DE DESPACHO
      %br
      %span.subtitle-text
        BUENAVENTURA - VALLE DEL CAUCA
      %br
      %span.company-name
        STCARGA
    .row
      .orange.mt-200.mb-30
        %span
          INFORMACIÓN DEL DESPACHO
    .row.pd-50
      .col-sm-3.vd
        %strong
          = '#'
        %br
        %strong.text-navy
          - if @dispatch.code.to_s.size < 5
            = sprintf '%05d', @dispatch.code
          - else
            = @dispatch.code
      .col-sm-3.vd.pl-9-p
        %strong
          IMP / PD / BL / DO
        %br
        %span
          = @dispatch.import.code
      .col-sm-3.vd.pl-9-p
        %strong
          CLIENTE
        %br
        %span
          = @dispatch.import.user.name
      .col-sm-3.pl-9-p.mb-30
        %strong
          FECHA DE DESPACHO
        %br
        %span
          = l(@dispatch.date, format: '%B %d, %Y')
      .col-sm-3.vd
        %strong
          REMITENTE
        %br
        %span
          = @dispatch.import.user.contact_name
      .col-sm-3.pl-9-p.vd
        %strong
          CIUDAD DESTINO
        %br
        %span
          = @dispatch.city
      .col-sm-6.pl-9-p
        %strong
          DIRECCIÓN DEL DESPACHO
        %br
        %span
          = @dispatch.address
      
    .row
      .orange.mt-150.mb-30
        %span
          DATOS DEL CONDUCTOR
    .row.pd-50
      .col-sm-4.vd
        %strong
          NOMBRE
        %br
        %span
          = @dispatch.driver.name
      .col-sm-4.vd.pl-9-p
        %strong
          CEDULA
        %br
        %span
          = @dispatch.driver.identification
      .col-sm-4.pl-9-p.mb-30
        %strong
          TELEFONO
        %br
        %span
          = @dispatch.driver.phone
      .col-sm-4.vd
        %strong
          PLACA DEL VEHICULO
        %br
        %span
          = @dispatch.driver.carriage_plate
      .col-sm-4.pl-9-p
        %strong
          TRAILER
        %br
        %span
          = @dispatch.driver.trailer
    .row.mt-200.mb-30
      .col-md-12
        .hr-line-dashed
    .row
      .col-sm-12
        .well.m-t
          %strong
            OBSERVACIÓNES O NOTAS
          %br
          %span
            = @dispatch.description.blank? ?  'Sin observaciones.' :  @dispatch.description
    %table.table.table-striped.mt-150
      %thead
        %tr
          %th{:scope => "col"} PRODUCTO
          %th{:scope => "col", style:'text-align: center;'} REFERENCIA
          %th{:scope => "col", style:'text-align: center;'} CONTENEDOR
          %th{:scope => "col", style:'text-align: center;'} PAQUETES
          %th{:scope => "col", style:'text-align: center;'} UNIDADES POR PAQUETE
          %th{:scope => "col", style:'text-align: center;'} TOTAL UNIDADES
          %th{:scope => "col", style:'text-align: center;'} PESO NETO (KG)
          %th{:scope => "col", style:'text-align: center;'} PESO BRUTO (KG)
      %tbody
        - total_paquetes = 0
        - total_unidades = 0
        - total_bruto = 0
        - @dispatch.dispatch_products.each do |product|
          %tr
            %td{title: 'Nombre del producto'}
              = product.import_product.product.name
            %td{title: 'Referencia del producto', style:'text-align: center;'}
              = product.import_product.product.reference
            %td{title: 'Contenedor.', style:'text-align: center;'}
              = product.import_product.container.code
            %td{title: 'Cantidad de paquetes despachados.', style:'text-align: center;'}
              = product.total_of_packages
            %td{title: 'Unidades por paquete', style:'text-align: center;'}
              = product.import_product.unit_by_package
            %td{title: 'Unidades despachadas.', style:'text-align: center;'}
              = product.total_of_packages * product.import_product.unit_by_package
            %td{title: 'Peso bruto despachado (Kg).', style:'text-align: center;'}
              = product.import_product.net_weight
            %td{title: 'Peso bruto despachado (Kg).' , style:'text-align: center;'}
              = product.total_of_packages * product.import_product.net_weight
          - total_paquetes += product.total_of_packages
          - total_unidades += (product.total_of_packages * product.import_product.unit_by_package)
          - total_bruto += (product.total_of_packages * product.import_product.net_weight)
        - if @dispatch.dispatch_products.count > 0
          %tr
            %td{title: 'Nombre del producto', style: 'background-color: white;'}
            %td{title: 'Referencia del producto', style: 'background-color: white;'}
            %td{title: 'Contenedor.', style: 'background-color: white;'}
            %td{title: 'Cantidad de paquetes despachados.', style:'text-align: center; background-color: #f9f9f9;  '}
              %strong{style: 'font-size: 12px !important;'}
                = total_paquetes
            %td{title: 'Unidades por paquete', style: 'background-color: white;'}
            %td{title: 'Unidades despachadas.', style:'text-align: center; background-color: #f9f9f9; font-size: 12px !important; '}
              %strong{style: 'font-size: 12px !important;'}
                = total_unidades
            %td{title: 'Peso bruto despachado (Kg).', style: 'background-color: white;'}
            %td{title: 'Peso bruto despachado (Kg).', style:'text-align: center; background-color: #f9f9f9; font-size: 12px !important;'}
              %strong{style: 'font-size: 12px !important;'}
                = total_bruto

    .row.mt-1000.mb-30
      .col-sm-3.sign
        .hr-sign
        %strong
          EMPRESA DE TRANSPORTE
      .col-sm-1
      .col-sm-3.sign
        .hr-sign
        %strong
          CONDUCTOR
      .col-sm-1
      .col-sm-3.sign
        .hr-sign
        %strong
          FUNCIONARIO DE BODEGA
        


  
