.col-lg-7
  .ibox.float-e-margins
    .ibox-title
      %h5
        Autenticación
      .ibox-tools
        %a
          %small STCARGA
    .ibox-content
      .row
        .col-md-6.col-sm-12
          .row
            %h3.m-t-none.m-b 
            = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              = render 'layouts/errors'
              .col-md-12.col-sm-12
                = f.email_field :email, autofocus: true, autocomplete: 'email', label: 'Correo:'
              .col-md-12.col-sm-12
                = f.password_field :password, autocomplete: "off", label: 'Contraseña:'
              .col-md-12.col-sm-12
                - if devise_mapping.rememberable?
                  .icheckbox_square-green
                    = f.check_box :remember_me, label: 'Recordarme', class: 'i-checks'
              .col-md-12.col-sm-12
                .actions.text-align-right
                  = f.submit 'Entrar', class: 'btn btn-md btn-primary sign-in-btn'
              = #render "devise/shared/links"
        .col-sm-6
          %h4 ¿No eres cliente aún?
          %p Tú puedes ser parte de nuestro equipo, contáctanos! 
          %p.text-center
            %a{href: ''}
              %i.fa.fa-share-square.big-icon
