%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}/
    %title STCARGA
    / Main css styles
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    / Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  
    - if user_signed_in?
      %body
        / Wrapper
        #wrapper
          / Navigation
          = render 'layouts/navigation'
          / Page wraper
          #page-wrapper.gray-bg
            / Page wrapper
            = render 'layouts/topnavbar'
            / Main view
            .main-content-yield
              = yield
            / Footer
            = render 'layouts/footer'
          / End page wrapper
        / End wrapper
    - else
      %body.gray-bg
        .container.login-container
          = yield
